<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <description>Shiro与Spring整合</description>
    <!--配置shiro的过滤器工厂-->
    <bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
        <property name="securityManager" ref="securityManager"/>
        <!--认证失败默认跳转到的页面-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--授权校验失败默认跳转的页面-->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <!--配置过滤器执行链-->
        <property name="filterChainDefinitions">
            <value>
                /index.jsp* = anon
                /login.jsp* = anon
                /login* = anon
                /logout* = anon
                /css/** = anon
                /img/** = anon
                /plugins/** = anon
                /make/** = anon
                /system/log/** =perms["日志管理"]
                /system/user/** = perms["用户管理"]
                /system/dept/** = perms["部门管理"]
                /** = authc
            </value>
        </property>
    </bean>

    <!--配置安全管理器-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <!--引用自定义Realm域-->
        <property name="realm" ref="authRealm"/>
    </bean>

    <!--配置自定义的Realm域-->
    <bean class="cn.itcast.web.shiro.AuthRealm" id="authRealm">
        <!--注入凭证匹配器-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    <!--配置自定义的凭证匹配器，对用户输入的密码按照指定的算法进行加密-->
    <bean class="cn.itcast.web.shiro.CustomCredentialsMatcher" id="credentialsMatcher"/>
    <!--开启shiro的注解支持-->
    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor" id="lifecycleBeanPostProcessor"/>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>